.todoItems {
    padding: 1vmax 1.5vmax;
    border-radius: 5px;
    margin-top: 1vmax;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.todoItems>div {
    display: flex;
    align-items: center;
}

.todoItems>.todoItemsCard>div:last-child>div{
    display: flex;
}

.todoItems>.todoItemsCard>div:last-child>div>p {
    margin-right: 10px;
}

@media screen and (max-width: 950px) {
    .todoItems {
        margin-top: 2.5vmax;
    }

    .todoItems>.todoItemsCard>div:last-child>h4,p{
        font-size: small;
    }

    .todoItems>.todoItemsCard>div:last-child>div{
        display: flex;
        flex-direction: column;
    }
}